.welcome {
  height: 100vh;
  display: flex;
  .bg-box {
    width: 45%;
    height: 100%;
    .welcome__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
    }
  }
  .welcome__content {
    width: 55%;
    margin-right: 50px;
    .main__content {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      .main__title {
        font-size: 2.375rem;
        font-weight: normal;
        text-align: center;
        line-height: 2.7rem;
        margin-bottom: 25px;
      }
      .decoration {
        @include decorationLine;
        align-self: center;
        margin-bottom: 65px;
      }
      .main__btn-box {
        display: flex;
        justify-content: space-evenly;
        .main__btn {
          @include giveBtn;
        }
      }
    }
  }
}