.welcome {
  height: calc(100vh - 82px);
  display: flex;
  @media (max-width: 1000px) {
    height: calc(80vh - 82px);
  }
  .bg-box {
    width: 45%;
    height: calc(100% + 82px);
    margin-top: -82px;
    z-index: -2;
    .welcome__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
      @media (max-width: 1200px) {
            object-fit: contain;
      }
    }
  }
  .welcome__content {
    width: 55%;
    .main__content {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      margin-right: 100px;
      .main__title {
        font-size: 2.375rem;
        font-weight: normal;
        text-align: center;
        line-height: 2.7rem;
        margin-bottom: 25px;
        @media (max-width: 1000px) {
          font-size: 1.6rem;
        }
      }
      .decoration {
        @include decorationLine;
        align-self: center;
        margin-bottom: 65px;
      }
      .main__btn-box {
        display: flex;
        justify-content: space-evenly;
        .main__btn {
          @include giveBtn;
          &:first-of-type{
            margin-right: 15px;
          }
        }
      }
    }
  }
}
