.sendStuffForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #eeedeb;
  .sendStuffForm__warn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 100px;
    width: 100%;
    height: 140px;
    background-color: #FAD648;
    .warn__title {
      font-size: 2.375rem;
      font-weight: bold;
      color: black;
    }
    .warn__subtitle {
      font-size: 1.375rem;
    }
  }
  .sendStuffForm__form {
    width: 60%;
    padding-left: 100px;
    .form__step {
      font-size: 1.5rem;
      font-weight: lighter;
      margin-top: 30px;
      margin-bottom: 60px;
    }
    .form__title {
      font-size: 2.25rem;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
  .sendStuffForm__bearBg {
    width: 40%;
  }
}