@mixin decorationLine {
  width: 253px;
  height: 33px;
}

@mixin giveBtn {
  width: 310px;
  height: 120px;
  font-size: 2rem;
  color: $color-darkGray;
  text-decoration: none;
  border: 1px solid $color-darkGray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2.5rem;
  &:hover {
    background-color: $color-white;
  }
}