.panel {
  .panel__title {
    width: 100%;
    height: 120px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    background-color: #e5e5e5;
  }
  .main {
    margin-top: 20px;
    padding-left: 20px;
    .users {
      margin-bottom: 30px;
      .users__title {
        font-size: 30px;
        font-style: italic;
      }
      .user__name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    .organizations {
      font-size: 30px;
      font-style: italic;
    }
    .forms {
      font-size: 30px;
      font-style: italic;
      .form__box {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $color-darkGray;
        .box__title {
          font-weight: bold;
        }
        p {
          line-height: 1.2rem;
        }
      }
    }
  }
}