.form__select {
  height: 329px;
  width: 540px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width: 1000px) {
    height: 230px;
  }
  .select-box {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 20px;
    @media (max-width: 1000px) {
      font-size: 1.2rem;
    }
    .box {
      display: flex;
      align-items: center;
      position: relative;
      width: 300px;
      height: 49px;
      border: 1px solid $color-darkGray;
      margin-left: 30px;
      padding-left: 15px;
      cursor: pointer;
      @media (max-width: 1000px) {
        width: 230px;
      }
      &:after {
        content: url("../../../../assets/Icon-Arrow-Down.svg");
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: $color-darkGray;
        pointer-events: none;
      }
    }
    .box.rotateArrow {
      &:after {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
  .select-active {
    position: absolute;
    top: 20%;
    left: 87%;
    width: 65px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: $color-darkGray;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    overflow: auto;
    @media (max-width: 1000px) {
      left: 66%;
    }
    option {
      text-align: center;
      background-color: #eeedeb;
      &:hover {
        background-color: #989595;
      }
    }
  }
  .select-none {
    display: none;
  }
}