.form__select {
  label {
    font-size: 1.5rem;
    font-weight: lighter;
    .select-wrap {
      position: relative;
      display: inline-block;
      &:after {
        content: url("../../../../assets/Icon-Arrow-Down.svg");
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: $color-darkGray;
        pointer-events: none;
      }
      select {
        width: 300px;
        height: 49px;
        font-size: 1.5rem;
        font-weight: lighter;
        color: $color-darkGray;
        padding-left: 10px;
        margin-left: 30px;
        background-color: transparent;
        appearance: none;
        cursor: pointer;
        option {
          background-color: #eeedeb;
        }
      }
    }
  }
}